
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateValidCallModel</title>
</head>
<body>
    <div>
        @{ Response.Redirect("~/CRMCalls/ValidCallsInformation");}
    </div>
</body>
</html>
